body {
    overflow: hidden;
  }
  
  .gameOver {
    width: 100%;
    height: 100vh;
    background: var(--game-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .message h1 {
    font-size: 3em;
  }
  
  .message p {
    font-size: 1em;
    font-style: italic;
    margin: 15px 15px;
  }
  
  .message button {
    margin-bottom: 150px;
    margin-top: 15px;
  }
  